header{
    background-color: lightskyblue;
    text-align: center;
}

footer{
    background-color: lightskyblue;
}

form{
    background-color: rgb(226, 220, 220);
    border: solid;
    border-width: .5px;
    border-radius: 10px;
    text-align: center;
}

h1{
    color:darkblue;
}
