body{
    background-image:url('../Images/Jamee\ &\ Juan-87.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(38, 17, 13);
}

p{
    color: rgb(76, 35, 26);
    font-size:large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    text-align: left;
    margin-right:50%;
}

#title{
    background-color: rgb(115 51 38 / 0.5);
    border-radius: 20px;
}

#date{
    position:fixed;
    bottom:0px;
}